---
title: Home
layout: default
banner-title: Anti-aging, Regenerative and Functional Medicine
banner-subtitle: helping you move beyond symptom management and into long-term health
offer:
  - name: Our Approach
    description: This isn't your standard medical practice. Dr. Lekkos is committed to going beyond helping you feel better now. Find out more about out modern, patient-focused and integrative approach to health.
    button-link: /about.html
    icon: fas fa-users
  - name: Functional Practice
    description: Our comprehensive functional medicine practice combines the best of western and eastern medicine with in-depth lab analysis, nutrition and lifestyle strategies to help you optimize your health.
    button-link: /about.html
    icon: fas fa-users
  - name: Regenerative Medicine
    description: Your body has the potential to heal itself. Learn more about how stem cell therapy and other regenerative techniques can be used to tap into this healing modality and turn back the clock, naturally.
    button-link: /about.html
    icon: fas fa-users
---

<!-- This is the header image  -->

<!-- This is the icon services  -->
<section class="grid bg-feat">
  <h2 class="col-12 center">
    What We Offer
  </h2>
  {% for item in page.offer %}
  <div class="col-4_sm-12 padded-1-middle center" >
    <i class="{{ item.icon }}">
    </i>
    <h4 class= "offers ">
      {{ item.name }}
    </h4>
    <p>
       {{ item.description }}
     </p>
    <a href="{{ item.button-link }}">
      Learn More
      </a>
  </div>
  {% endfor %}
</section>

<!-- This is the quote  -->
<section class=" grid-center padded quote">
  <h2 >
    Comprehensive. Individual. Functional.
  </h2>
  <p>
    Bios Functional Medicine takes an "inside-out" approach to your health. Instead of simply bandaging symptoms, we look at you, as whole person, and address true underlying causes. Our goal is to not only help you feel better now, but to help you live a vital and robust life for as long as you can. We also offer groundbreaking regenerative services using adult stem cells to activate the body's built-in mechanism of self-repair and restore function to once declining health.
  </p>
  <a href="/contact" class= "button">
    Become a Patient
  </a>
</section>

<!-- This is the testimonials  -->
<section class="quote-img">
  <div class="col-5_sm-12 bg-light center">
    <h5>
      "Dr. Lekkos takes a sincere personal interest in your health."
    </h5>
    <p>
      "He is excited by new science and up to date on cutting edge technology and testing. I have worked with a number of functional medicine and anti-aging specialists and he is by far the best. He doesn’t push you, he counsels you and helps you make the decisions that work best for you. He is who I refer all my clients to and also the doctor I trust with my own health."
    </p>
    <p>
      — Kelly LeVeque. Holistic Nutritionist. Los Angeles, CA
    </p>
  </div>
</section>

<!-- This is the logo grid  -->
<section class="logo-grid">
 <img src="/images/logo_magz-01.png" class="center">
</section>

<!-- This is the map  -->
<section class="grid">
{% include map.html %}
</section>

<!-- This is the newsletter  -->
{% include newsletter.html %}
