---
layout: default
title: RegenerativeMedicine
treatment:
  - icon: fas fa-user-md
    name: Autoimmune
  - icon: fas fa-running
    name: Orthopedic
  - icon: fas fa-user-alt
    name: Hair and Skin
  - icon: fas fa-brain
    name: Neurology
  - icon: fas fa-hourglass-half
    name: Degenerative Conditions
  - icon: fas fa-heart
    name: Sexual Health
faq:
  - question: What are Stem Cells?
    answer:
      - text: All live cells have the ability to duplicate and multiply. A stem cell has an additional property - the ability to turn into other types of tissues.
      - text: As such, stem cells may be able to repair damaged tissue by transforming into replacement cells and tissues. Stem cells have also exhibited anti-inflammatory and immune-modulatory properties in lab tests and clinical trials.
      - text: Early research focused on embryonic stem cells. Having grown from a single cell, the embryo consists mostly of undifferentiated stem cells. These cells follow DNA instructions to multiply and transform into skin cells, muscle cells, nerve cells, organ cells, and all the tissues of the completed human body.
      - text: The use of this embryonic tissue was extremely controversial. The ethical concerns raised by the use of unborn or unwanted embryos for research or treatment received so much publicity that many people associate ethical suspicions with all stem cell research. However, embryonic stem cells are not widely used in treatment or research anymore.
      - text: Dr. Lekkos uses “adult stem cells,” meaning stem cells that remain present in a live-born human being of any age. Such cells can be extracted and deployed back into the body without danger to the patient. With an boost from technology, the patient’s own natural healing and reparative properties are enhanced by these cells.
      - text: Modern tools allow Dr. Lekkos to separate large numbers of stem cells from fat. These prolific stem cell reserves show the most promise for stem cell therapy as a non-invasive, affordable outpatient procedure to treat a wide variety of conditions resulting from disease or serious injury.
  - question: Cold storage of stem cells?
    answer:
      - text: Adipose-derived stem cells can be cryo-preserved in cold storage at the time of harvesting. Cryopreservation of stem cells is a joint project between Cells On Ice™ and American CryoStem. Either the complete fat sample, or just the Stromal Vascular Fraction (SVF - the tiny fraction of a fat sample that contains vast quantities of stem cells) can be frozen.
      - text: Choosing cold-storage for a portion of their fat or SVF specimen would allow patients to have a steady supply of their own stem cells on hand to treat anything from heart attack, stroke, serious accident, possibly even some cancers.
      - text: Certain neurodegenerative and autoimmune conditions require multiple treatments. Preservation through Cells On Ice™ makes these multiple deployments easy and cost-effective.
  - question: About regenerative medicine?
    answer:
      - text: Regenerative medicine is the process of replacing damaged or defective tissue with functioning, living replacement tissue to restore organ functions lost due to damage or disease.
      - text: Traditionally, this involved stopping disease and helping the body repair itself, through medication and hormone therapy. Genetic research has also allowed doctors to treat degenerative diseases caused by gene defects.
      - text: Adult Mesenchymal stem cells hold great promise in regenerative medicine. Studies suggest the ability of such cells - the patient’s own tissue - to stimulate a natural repair process in previously irreparable organs, allowing them to heal themselves.
      - text: Stem cells use complex molecules called cytokines, or “growth factors,” to communicate with tissues and each other. Thousands of growth factors are currently used for therapeutic and cosmetic purposes, some with FDA approval.
      - text: The science of combining stem cells and growth factors in treatment of degenerative diseases represents a promising frontier in regenerative medicine.
---
<!-- This is the double column text section -->
<section class="grid-center">
<div class="col-4_sm-12 padded padding-top-none">
  <h2>
    Harness the Power of Stem Cells
  </h2>
</div>
<div class="col-8_sm-12 padded padding-top-none">
  <p>
    Stem cells are non-specific cells that have the ability to replenish and repair damaged tissue. While most conventional treatment strategies for degenerative and inflammatory conditions involve invasive surgeries and drugs riddled with side-effects that serve to merely control symptoms, stem cell therapy offers a way of achieving longer-term tissue healing and repair. By using a cutting-edge technique to harvest autologous stem cells (from one's own body) and inserting the cells into the afflicted area, this healing modality can be used to regenerate damaged tissue, as the stem cells differentiate into whatever type of tissue is lacking. It’s a way of tapping into the body's natural repair system.
  </p>
  <h5>
    Why Stem Cells?
  </h5>
  <p>
    <ul class="list">
      <li>Eliminates the need for surgery</li>
      <li>Faster recovery</li>
      <li>Minimally invasive</li>
      <li>Promotes natural tissue healing and repair</li>
    </ul>
    <p>
    Offers significant improvements for autoimmune diseases, orthopedics, hair loss, head injuries, neurology, male enhancement, skin and other degenerative conditions
    </p>
</div>
</section>
<!-- This is the icon section -->
<section class="grid center bg-feat">
  <h2 class="col-12 center title">
    Areas of Treatment
  </h2>
  <p>
    This is a partial list and every patient and condition is unique. Contact us to find out if stem cell therapy could be right for you.
  </p>
  {% for item in page.treatment %}
  <div class="col-4_sm-12 padded-2 center offers" >
    <i class="{{ item.icon }} icon padded">
    </i>
    <h4>
      {{ item.name }}
    </h4>
    <a href="{{ item.button-link }}">
      Learn More
      </a>
  </div>
  {% endfor %}
</section>
<!-- This is the quote section -->
<section class=" grid-center quote">
  <h2 class=" center title">
    Our bodies have the
    <br>
    potential to heal themselves.
  </h2>
  <h5>
    Regenerative Medicine explores how to activate these built-in mechanisms for
    <br>
    self-repairand cellular regeneration and turn back the clock, naturally.
  </h5>
  <p class="center padding-2">
    Board certified in Anti-Aging, Regenerative and Functional Medicine, an Emergency Medical Doctor and an active member of the Cell Surgical Network, Dr. Aposotolos Lekkos uses state-of-the-art stem cell therapy combined with other regenerative and functional medicine techniques to help patients get better faster, age gracefully, avoid invasive surgery and move toward a life of vitality.
  </p>
</section>
<!-- This is the graphic section -->
<section class="center">
  <img src="/images/graphic.jpg">
</section>
<!-- This is the FAQ section -->
<section>
  <dl class="accordion">
    {% for item in page.faq %}
        <dt>
          <a href="">
            {{item.question}}
          </a>
        </dt>
        <dd>
          {% for paragraph in item.answer %}
          <p>
          {{paragraph.text}}
          </p>
          {% endfor %}
        </dd>
        {% endfor %}
  </dl>
</section>
<!-- This is the newsletter section -->
{% include newsletter.html %}
