
<!-- This is the header banner  -->
<header class="banner-{{page.title}} grid-center">
  <nav class="grid header-nav tablet-hide">
    <a href="#"> Functional Practice </a>
    <a href="#"> Regenerative Medicine </a>
    <a href="/about"> About </a>
    <a href="/testimonials"> Testimonials </a>
    <a href="/blog"> Blog </a>
    <a href="/contact"> Contact </a>
  </nav>
  <!-- This is the burger nav  -->
  <nav>
  <div class="burger-button tablet-show">
      <span class="burger-top"></span>
      <span class="burger-middle"></span>
      <span class="burger-bottom"></span>
  </div>
   <div class="burger-menu">
     <a href="#"> Functional Practice </a>
     <hr>
     <a href="#"> Regenerative Medicine </a>
     <hr>
     <a href="/about"> About </a>
     <hr>
     <a href="/testimonials"> Testimonials </a>
     <hr>
     <a href="/blog"> Blog </a>
     <hr>
     <a href="/contact"> Contact </a>
  </div>
</nav>
  <div class="col-10_sm-12-bottom padded center bottom-padded">
    <h3> Anti-aging, Regenerative and Functional Medicine </h3>
    <p> Helping you move beyond symptom management and into long-term health</p>
    <a href="/contact" class= "button">
      Become a Patient
    </a>
  </div>
</header>
