
<!-- This is the header banner  -->

<header class="banner-{{page.title}}">
  <div class="grid-spaceBetween">
    <div class="col-2 left">
      <a href="/index">
      <img src="/images/Lekkos-logo.png">
      </a>
    </div>
    <nav class="col-7 header-nav tablet-hide">
      <a href="#"> Functional Practice </a>
      <a href="/regenerative-medicine"> Regenerative Medicine </a>
      <a href="/about"> About </a>
      <a href="/testimonials"> Testimonials </a>
      <a href="/blog"> Blog </a>
      <a href="/contact"> Contact </a>
    </nav>
  </div>
  <!-- This is the burger nav  -->
  <nav class="mobile-nav">
    <div class="burger-button tablet-show">
      <span class="burger-top"></span>
      <span class="burger-middle"></span>
      <span class="burger-bottom"></span>
    </div>
   <div class="burger-menu">
     <a href="#"> Functional Practice </a>
     <a href="#"> Regenerative Medicine </a>
     <a href="/about"> About </a>
     <a href="/testimonials"> Testimonials </a>
     <a href="/blog"> Blog </a>
     <a href="/contact"> Contact </a>
  </div>
</nav>
  <div class="col-12 center padded">
    <h3> {{ page.banner-title }} </h3>
    <p> {{ page.banner-subtitle }}</p>
    {% if page.url == "/" %}
    <a href="/contact" class= "button">
      Become a Patient
    </a>
    {% endif %}
  </div>
</header>
