
<!-- This is the header banner  -->
<header class="banner-{{page.title}} grid-center">
  <nav class="grid header-nav">
    <a href="#"> Functional Practice </a>
    <a href="#"> Regenerative Medicine </a>
    <a href="/about"> About </a>
    <a href="/testimonials"> Testimonials </a>
    <a href="/blog"> Blog </a>
    <a href="/contact"> Contact </a>
  </nav>
  <div class="col-10_sm-12-middle padded center">
    <h3> Anti-aging, Regenerative and Functional Medicine </h3>
    <p> Helping you move beyond symptom management and into long-term health</p>
    <a href="/contact" class= "button">
      Become a Patient
    </a>
    </div>
</header>
