<footer class="grid footer">
  <div class="col-4_sm-12">
    <p class="p-small">
      310-955-1885
    </p>
    <p class="p-small">
      2001 Santa Monica Blvd.
      <br>
      Suite 890-W Santa Monica, CA 90404
    </p>
  </div>
  <div class="col-1_sm-hidden">
  </div>
  <div class="col-6_sm-12-bottom right ">
    <p class="p-small">
      © 2018 Bios Functional Medicine, Santa Monica, CA |   All Rights Reserved
    </p>
    <p class="p-small right">
      Bios Functional Medicine does not claim that stem cell treatments or regenerative therapies are a cure for any condition or disease. Adipose-derived stem cell therapies are considered investigational and are not currently FDA-approved. The information on this website are for educational purposes and we suggest researching relevant information in addition to what is provided on this site.
    </p>
  </div>
</footer>
